<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="/assets/css/sh.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
  <header>
    <h1>{{ site.name }}</h1>
    {% include navigation.html %}
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    &copy; Lorentz Vedeler
  </footer>
</body>

</html>